* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica";
    font-weight: bold;
    background-color: #F5E6CC;
    width: 100%;
}
/* ==================================== NAVBAR ==================================== */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: #333333;
    margin-bottom: 5.3vh;
}
.navTxt {
    color: #ECAB55;
    font-size: 1.5vw;
    text-align: left;
    margin-right: 2.13vw;
}
.navLogo {
    margin-left: 1.15vw;
    margin-right: 2vw;
    width: 11vw;
    display: block;
}
.navbar input {
    padding-left: 1vw;
    margin-left: 11vw;
    width: 27.56vw;
    height: 5vh;
    background: #FFFFFF;
    color: #7A7A7A;
    border-color: #232323;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 2vw;
    font-weight: 400;
    font-size: 1.17vw;
    text-align: left;
}
/* ==================================== MAIN ==================================== */
.wrapper {
    margin: 0 5.5vw;
}
h1 {
    padding-left: 1.20vw;
    width: 100%;
    color: #000000;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 3.33vw;
    text-align: left;
    margin-bottom: 2.22vh;
}

.box {
    padding: 1.211vw;
    background: #E6D9AB;
    border: #000000 0.2vw solid;
    border-radius: 1.3vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 9vh;
}
#display {
    width: 100%;
    padding: 30px;
}

.tile {
    margin-top: 4vh;
    overflow: hidden;
    background: #E6D9AB;
    width: 15.79vw;
    height: 30.19vh;
    display: flex;
    border-radius: 0.52vw;
    flex-direction: column;
    align-items: center;
    font-size: 1.15vw;
    border: #000000 0.2vw solid;
}
.tImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.text {
    color: black;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    width: 100%;
}
textarea {
    width: 100%;
    resize: none;
    font-size: 0.85vw;
}
/* ==================================== FOOTER ==================================== */
a {
    text-decoration: none;
}
footer {
    background-color: #e6d9abd2;
    height: 10vh;
    position: relative; 
    padding: 0 2.25vw;
}
footer p {
    position: absolute;
    left: 2.25vw;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    color: #4F4F4F;
    margin: 0;
}
.icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iLinks {
    margin-top: 0.9vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icons img {
    height: 20px;
}